@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
* {
    margin: 0%;
    padding: 0%;
 text-decoration: none;
 font-family: 'Karla', sans-serif;
    
}
div {
    display: block;
}
.cleaner{
    clear: both;
}
.wrapper {
    background-color: #efe4b0;
  /*  border-top: solid;
    border-bottom: solid;*/
}
#logo {
    float: left;
    padding: 4px;
}

#logo a img {
        width: 30px;
}

body {
    background-color: #99d9ea;
}
nav {
    text-align: center;
    padding: 10px;
}
nav ul {
    list-style: none; 
}
nav ul li {
    margin: 10px 10px;
    display:  inline-block;
}
nav ul li a {
   font-size: 14px;
   text-align: center;
   color: black;
}
nav ul li a:hover {
    color: red;
}
.active {
    color: red;
}
/* Naslovna */
#naslov {
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: url('../images/Ribolov123.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
   /* border-bottom: solid  black;*/
}
#naslov h1 {
        padding: 40px;
        font-size: 20px;
        text-align: center;
        font-style: italic;
        animation: naslov 1s cubic-bezier(0, 0.85, 0.58, 1) both;
       
}
#kopis {
    text-align: center;
    justify-content: center;
    animation: kopisa 1s cubic-bezier(0, 0.85, 0.58, 1) both;


}
#kopis h2 {
        padding-top: 10px;
        margin: 30px;
        font-size: 15px;
        font-style: italic;

}
.textopis {
        font-size: 18px;

}
.veza {
    color: red;
}
.wrapper2{
    
    width: 75%;
    text-align: center;
   margin-left: 300px;
}
.blok {
    position: relative;
    width: 400px;
    height: 600px;
   
    
    float: left;
    margin: 20px;
}
.slikab {
    width: 400px;
    height: 400px;
}
.kartica {
    
    position: absolute;
    width: 100%;
    height: 50%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    
}
.kartica:hover{
    transform: rotateY(180deg);
}
.prednja {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.zadnja {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    
}
/*figure {
    width: 100%;
}*/
.zadnja p {
    font-size: 15px;
    text-align: justify;
    color: black;
}
.wrapper3 {
    background-color:#efe4b0 ;
    height: 40px;
    justify-content: center;
    text-align: center;
    
    
}
.wrapper3 i {
    font-size: 20px;
    color: black;
    margin: 15px;

    
}
.wrapper3 a i:hover {
    color: red;
}
/* kraj pocetne */
/*pocetak plovak*/
#naslov2 {
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: url('../images/dostaplovaka.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#naslov2 h1 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    animation: naslov 1s cubic-bezier(0, 0.85, 0.58, 1) both;
   
}
#wrap {
    display: flex;
}
#lblok1 {
    width: 50%;
    text-align: left;
    margin-top: 50px;
   float: left;
   border-right: dashed;
 
}
#lblok1 figure {
        width: 95%;
        
}
#lblok1 figure img {
    width: 100%;
    height: 600px;

}
#lblok1 p {
    text-align: justify;
    margin-right: 20px;
    font-size: 16px;
}
#lblok1 .blslika,.bltext{
     float: left;
     width: 50%;
}
section #wrap #lblok1  .bltext  h2 {
    margin: 0px 10px 10px 10px;
}
#dblok1 {
    width: 50%;
    text-align: right;
    margin-top: 50px;
   float: right;
   
}
section article #bdslika   {
    width: 50%;
}
section article #bdslika figure img {
    width: 96%;
    /*border: solid black;*/
    
}
section #wrap #dblok1 #bdtext  h2 {
    margin: 0px 10px 10px 10px;
}
#dblok1 #bdslika,#bdtext {
    float: right;
    width: 50%;
}
#dblok1 #bdtext p {
    text-align: justify;
    margin-left: 20px;
    font-size: 16px;
}
/*kraj za plovak*/
/*pocetak za varalicu*/

#naslov3 {
    background-image: url('../images/dostavaralica.jpg');
    width: 100%;
    height: 100px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#naslov3 h1 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    animation: naslov 1.1s cubic-bezier(0, 0.85, 0.58, 1) both;
   
}
#naslov4 {
    background-image: url("../images/dubinskomamac.jpg");
    width: 100%;
    height: 100px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#naslov4 h1 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    animation: naslov 1s cubic-bezier(0, 0.85, 0.58, 1) both;
   
}
#naslov5 {
    background-image: url("../images/galerija.jpg");
    width: 100%;
    height: 100px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#naslov5 h1 {
    padding: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    animation: naslov 1s cubic-bezier(0, 0.85, 0.58, 1) both;
   
}
#container {
    margin: 100px auto;
    width: 75%;
    text-align: center;
}
.slikica {
    margin: 15px 20px;
    float: left;
    width: 30%;
    border-radius: 10%;
    transition: transform 1s; 
}
.slikica:hover{
    transform: scale(1.1);
}
.slikica img {
    width: 100%;
    border-radius: 10%;
    box-shadow: 10px 10px 5px grey;
    
}
#naslov6 {
    background-image: url("../images/autorpoz.jpg");
    width: 100%;
    height: 100px;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#naslov6 h1 {
    color: white;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    font-style: italic;
    animation: naslov 1s cubic-bezier(0, 0.85, 0.58, 1) both;
   
}

.oautoru {
    width: 100%;
    margin-left: 10%;
}
.profilna {
    width: 40%;
    float: left;
}
.profilna img {
    width: 50%;
    border-radius: 10%;
}
.omeni {
    margin-top: 50px;
    width: 30%;
    float: left;
}
.omeni p {
    font-size: 16px;
   
}
#forma{
    height: 60%;
    margin-top: 5%;
    margin-left: 10%;
}
.polje { 
    
    height: 20%;
}
.label {
        font-size: 20px;
        
}
#emaili {
    font-size: 16px;
    width: 20%;
    height: 30px;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
}
#ime,#prezime {
    font-size: 16px;
    width: 20%;
    height: 30px;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
}
#poruka {
    font-size: 20px;
}
#poruka1 {
    font-size: 16px;
    border-radius: 10px;
    text-align: justify;
    padding: 5px;
}
.dugme{
    font-size: 16px;
    width: 10%;
    height: 35px;
    border-radius: 10px;
}
@keyframes kopisa {
  
    0% {
        letter-spacing: -0.5em;
     /*   transform: left(-500px)*/
        opacity: 0;
      }
      
      100% {
        transform: translateZ(0) translateY(0);
        opacity: 1;
      }
    }

@keyframes naslov {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-600px) translateY(-500px);
      opacity: 0;
    }
    40% {
      opacity: 0.5;
    }
    100% {
      transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

